<%= form_with(model: article) do |form| %>

  <div>
    <%= form.label :title, style: "display: block", :id => "title-label", :class => "labels-inside-form" %>
    <%= form.text_field :title, :id => "title-text-field", :class => "fields-inside-form" %>
  </div>

  <div>
    <%= form.label :content, style: "display: block", :class => "labels-inside-form" %>
    <%= form.text_area :content, :id => "content-text-area", :class => "fields-inside-form" %>
  </div>

  <div id="submit-button" >
    <%= form.submit%>
  </div>

  <% if article.errors.any? %>
    <div style="color: red" class="errors_container">
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
