<p  class="notice_p" style="color: #462150"><%= notice %></p>

<h1 id="articles_title">Articles</h1>

<div class="articles_container">
  <span><%= link_to "New Article", new_article_path, :class => "new_article_link"  %></span>
  <% @articles.reverse.each do |article| %>
    <%= link_to article do %>
      <div class="article" >
        <span id="article_title"><%= article.title.titleize %> </span> <br>
        <span id="article_date"><%= article.created_at.to_s.split(" ")[0] %>  </span>
        <p class="article_content"><%= article.content %></p> 
      </div>
    <% end %>
  <% end %>
</div>

