<p style="color: green"><%= notice %></p>

<%= render @article, :id => "showed-article" %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article), :class => "links-in-show" %> |
  <%= link_to "Back to articles", articles_path, :class => "links-in-show"  %>

  <%= button_to "Destroy this article", @article, method: :delete, :id => "destroy-button"  %>
</div>
